body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.header {
    background-color: #c30010; /* Red background */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center the text */
    left: 50%; /* Align to the center */
    max-width: 600px; /* Match the width of the container */
    margin: 0 auto; /* Center the header */
}

.header h1 {
    color: white; /* White text color */
    font-family: sans-serif; /* Use sans-serif font */
    font-weight: bold; /* Bold text */
    font-size: 25px; /* Increase the font size */
    margin: 0; /* Remove default margin */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select {
    margin: 10px 0;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}



    button {
        padding: 8px; /* Reduce button padding */
    }
}
